<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ifi.lmu.com.handmeasurementstudy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tapping"
            android:label="@string/title_activity_tapping"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Swiping"
            android:label="@string/title_activity_swiping"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scrolling"
            android:label="@string/title_activity_scrolling"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Zooming"
            android:label="@string/title_activity_zooming"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".system.ActivityManager"
            android:label="ActivityManager"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".TabletActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".ZoomingMaximum"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MaxRadius"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ZoomingMaximumTablet"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainTabletActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

    </application>

</manifest>